@using Koala.Portal.Core.Dtos
@using Koala.Portal.WebUI.TagHelpers
@using Koala.Portal.Core.ViewModels.CrmViewModels
@using Koala.Portal.Core.ViewModels.PortalViewModels
kullanıcı, firma kullanıcı

@model (ProjectDetailViewModel project, InfoCrmFirmViewModel firm, List<CrmSupportListViewModel> supports,List<CrmUserFullNameInfoViewModel> crmUsers,List<CrmUserDepartmentsViewModel> userDepartments,List<SelectListItem> localUsers)
@{
    ViewData["Title"] = "Proje Detay";
    ViewData["ActivePage"] = "Project";
    TempData["IsProject"] = true;
    // var priority = (List<SelectListItem>)TempData["Priority"]!;
    var phones = Model.firm.Phones.Select(x => $"({x.AreaCode}) {x.Number}").ToList();
}

<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Card-->
        <div class="card card-custom gutter-b" >
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-grow-1">
                        <!--begin: Title-->
                        <div class="d-flex align-items-center justify-content-between flex-wrap">
                            <div class="mr-3">
                                <!--begin::Name-->
                                <a href="#" class="d-flex align-items-center text-dark text-hover-primary font-size-h5 font-weight-bold mr-3">
                                    (@Model.project.Firm.Code) - @Model.project.Firm.Title
                                    <i class="flaticon2-correct text-success icon-md ml-2"></i>
                                </a>
                                <!--end::Name-->
                                <!--begin::Contacts-->
                                <div class="d-flex flex-wrap my-2">
                                    <a href="#" class="text-muted text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">
                                        <span class="svg-icon svg-icon-md svg-icon-gray-500 mr-1">
                                            <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\legacy\metronic\theme\html\demo1\dist/../src/media/svg/icons\Devices\iPhone-X.svg-->
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <rect x="0" y="0" width="24" height="24" />
                                                    <path d="M8,2.5 C7.30964406,2.5 6.75,3.05964406 6.75,3.75 L6.75,20.25 C6.75,20.9403559 7.30964406,21.5 8,21.5 L16,21.5 C16.6903559,21.5 17.25,20.9403559 17.25,20.25 L17.25,3.75 C17.25,3.05964406 16.6903559,2.5 16,2.5 L8,2.5 Z" fill="#000000" opacity="0.3" />
                                                    <path d="M8,2.5 C7.30964406,2.5 6.75,3.05964406 6.75,3.75 L6.75,20.25 C6.75,20.9403559 7.30964406,21.5 8,21.5 L16,21.5 C16.6903559,21.5 17.25,20.9403559 17.25,20.25 L17.25,3.75 C17.25,3.05964406 16.6903559,2.5 16,2.5 L8,2.5 Z M8,1 L16,1 C17.5187831,1 18.75,2.23121694 18.75,3.75 L18.75,20.25 C18.75,21.7687831 17.5187831,23 16,23 L8,23 C6.48121694,23 5.25,21.7687831 5.25,20.25 L5.25,3.75 C5.25,2.23121694 6.48121694,1 8,1 Z M9.5,1.75 L14.5,1.75 C14.7761424,1.75 15,1.97385763 15,2.25 L15,3.25 C15,3.52614237 14.7761424,3.75 14.5,3.75 L9.5,3.75 C9.22385763,3.75 9,3.52614237 9,3.25 L9,2.25 C9,1.97385763 9.22385763,1.75 9.5,1.75 Z" fill="#000000" fill-rule="nonzero" />
                                                </g>
                                            </svg>
                                        </span>
                                        @foreach (var phone in phones)
                                        {
                                            var pFormt = "0" + phone.Replace(" ", "").Replace("(", "").Replace(")", "");
                                            <a href="tel:@pFormt" class="">
                                                @phone
                                            </a>
                                            <span>&nbsp;&nbsp;&nbsp; </span>
                                        }
                                        @*  @string.Join(", ", phones) *@
                                    </a>


                                </div>
                                <!--end::Contacts-->
                            </div>
                            <div class="my-lg-0 my-1">
                                <a href="#" class="btn btn-sm btn-light-success font-weight-bolder text-uppercase mr-3">Dosya Ekle</a>
                            </div>
                        </div>
                        <!--end: Title-->
                    </div>
                    <!--end: Info-->
                </div>
                <div class="separator separator-solid my-7"></div>
                <!--begin: Items-->
                <div class="d-flex align-items-center flex-wrap">
                    <!--begin: Item-->
                    <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                        <span class="mr-4">
                            <i class="flaticon-app icon-2x text-muted font-weight-bold"></i>
                        </span>
                        <div class="d-flex flex-column text-dark-75">
                            <span class="font-weight-bolder font-size-sm">Toplam Faz</span>
                            <span class="font-weight-bolder font-size-h5">
                                <span class="text-dark-50 font-weight-bold"></span>@(Model.project.ProjectLines?.Count() ?? 0)
                            </span>
                        </div>
                    </div>
                    <!--end: Item-->
                    <!--begin: Item-->
                    <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                        <span class="mr-4">
                            <i class="flaticon-support icon-2x text-muted font-weight-bold"></i>
                        </span>
                        <div class="d-flex flex-column text-dark-75">
                            <span class="font-weight-bolder font-size-sm">Toplam İş</span>
                            <span class="font-weight-bolder font-size-h5">
                                <span class="text-dark-50 font-weight-bold"></span>@Model.supports.Count(x =>
                                x.TicketStateOid == "bd6344e9-e338-47a3-b6c0-38d9385b80b4" ||
                                x.TicketStateOid == "07d17e00-b999-4a39-8c01-4e0ceb1925fd" ||
                                x.TicketStateOid == "a048ac84-9dde-4a2c-86aa-d3ef76506103" ||
                                x.TicketStateOid == "e4bea484-e65c-4161-9b7e-95631a36928b")
                            </span>
                        </div>
                    </div>
                    <!--end: Item-->
                    <!--begin: Item-->
                    <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                        <span class="mr-4">
                            <i class="flaticon-file-2 icon-2x text-muted font-weight-bold"></i>
                        </span>
                        <div class="d-flex flex-column text-dark-75">
                            <span class="font-weight-bolder font-size-sm">Toplam Destek Kaydı</span>
                            <span class="font-weight-bolder font-size-h5">
                                <span class="text-dark-50 font-weight-bold"></span>@Model.supports.Count(x =>
                                (x.TicketStateOid != "bd6344e9-e338-47a3-b6c0-38d9385b80b4" &&
                                x.TicketStateOid != "07d17e00-b999-4a39-8c01-4e0ceb1925fd" &&
                                x.TicketStateOid != "a048ac84-9dde-4a2c-86aa-d3ef76506103" &&
                                x.TicketStateOid != "e4bea484-e65c-4161-9b7e-95631a36928b") &&
                                x.TicketStateOid != "439e8fb4-b576-4650-83de-656ee3cfd3e7")
                            </span>
                        </div>
                    </div>
                    <!--end: Item-->
                    <!--begin: Item-->
                    <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                        <span class="mr-4">
                            <i class="flaticon-file-2 icon-2x text-muted font-weight-bold"></i>
                        </span>
                        <div class="d-flex flex-column text-dark-75">
                            <span class="font-weight-bolder font-size-sm">Toplam Dosya</span>
                            <span class="font-weight-bolder font-size-h5">
                                <span class="text-dark-50 font-weight-bold"></span>@Model.supports.Count(x =>
                                (x.TicketStateOid != "bd6344e9-e338-47a3-b6c0-38d9385b80b4" &&
                                x.TicketStateOid != "07d17e00-b999-4a39-8c01-4e0ceb1925fd" &&
                                x.TicketStateOid != "a048ac84-9dde-4a2c-86aa-d3ef76506103" &&
                                x.TicketStateOid != "e4bea484-e65c-4161-9b7e-95631a36928b") &&
                                x.TicketStateOid != "439e8fb4-b576-4650-83de-656ee3cfd3e7")
                            </span>
                        </div>
                    </div>
                    <!--end: Item-->
                    <!--begin: Item-->
                    <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                        <span class="mr-4">
                            <i class="flaticon-file-2 icon-2x text-muted font-weight-bold"></i>
                        </span>
                        <div class="d-flex flex-column text-dark-75">
                            <span class="font-weight-bolder font-size-sm">Toplam Faz Notu</span>
                            <span class="font-weight-bolder font-size-h5">
                                <span class="text-dark-50 font-weight-bold"></span>@Model.supports.Count(x =>
                                (x.TicketStateOid != "bd6344e9-e338-47a3-b6c0-38d9385b80b4" &&
                                x.TicketStateOid != "07d17e00-b999-4a39-8c01-4e0ceb1925fd" &&
                                x.TicketStateOid != "a048ac84-9dde-4a2c-86aa-d3ef76506103" &&
                                x.TicketStateOid != "e4bea484-e65c-4161-9b7e-95631a36928b") &&
                                x.TicketStateOid != "439e8fb4-b576-4650-83de-656ee3cfd3e7")
                            </span>
                        </div>
                    </div>
                    <!--end: Item-->
                </div>
                <!--begin: Items-->
            </div>
        </div>

        <div class="card card-custom gutter-b">
            <div class="card-header flex-wrap border-0 pt-6 pb-0">
                <div class="card-title">
                    <h3 class="card-label">
                        Proje Fazları
                        <span class="d-block text-muted pt-2 font-size-sm">@Model.project.ProjectName Proje Fazları</span>
                    </h3>

                </div>
                <div class="card-toolbar">
                    <a href="#" id="open-add-project-line-modal" class="btn btn-sm btn-primary font-weight-bolder text-uppercase">Faz Ekle</a>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-hover" id="ProjectLineTable" style="margin-top: 13px !important">
                    <thead>
                        <tr>
                            <th title="Title">Proje Adı</th>
                            <th title="StateStatus">Durum</th>
                            <th title="DueDate">Teslim Tarihi</th>
                            <th title="StartDate">Başlangıç Tarihi</th>
                            <th title="LineOfficial">Faz Yöneticisi</th>
                            <th title="LineFirmOfficial">Firma Yetkilisi</th>
                            <th title="Priority">Öncelik</th>
                            <th title="RowOrder">Sıralama</th>
                            <th title="Action">İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.project.ProjectLines != null && Model.project.ProjectLines.Any())
                        {
                            @foreach (var item in Model.project.ProjectLines)
                            {
                                var statusBadge = item.StateStatus switch
                                {
                                    ProjectLineStatusEnum.NotStarted => "<span class='badge badge-secondary'>Başlamadı</span>",
                                    ProjectLineStatusEnum.InProgress => "<span class='badge badge-info'>Devam Ediyor</span>",
                                    ProjectLineStatusEnum.Completed => "<span class='badge badge-success'>Tamamlandı</span>",
                                    ProjectLineStatusEnum.Cancellled => "<span class='badge badge-danger'>İptal Edildi</span>",
                                    _ => "<span class='badge badge-secondary'>Belirsiz</span>"
                                };
                                <tr data-id="@item.Id" data-title="@item.Title" data-official-id="@item.LineOfficialId" data-firm-official-id="@item.LineFirmOfficialId" data-priority="@((int)item.Priority)" data-roworder="@item.RowOrder" data-description="@item.Description" data-duedate="@item.DueDate">
                                    <td title="Title">@item.Title</td>
                                    <td title="StateStatus">@Html.Raw(statusBadge)</td>
                                    <td title="DueDate">@item.DueDate</td>
                                    <td title="StartDate">@item.StartDate</td>
                                    <td title="LineOfficial">@item.LineOfficial</td>
                                    <td title="LineFirmOfficial">@item.LineFirmOfficial</td>
                                    <td title="Priority">@item.Priority</td>
                                    <td title="RowOrder">@item.RowOrder</td>
                                    <td title="Action">
                                        <button type="button" class="btn btn-icon btn-success btn-sm btn-start-phase" data-toggle="tooltip" title="Faza Başla" data-id="@item.Id"><i class="flaticon2-play"></i></button>
                                        <button type="button" class="btn btn-icon btn-warning btn-sm btn-complete-phase" data-toggle="tooltip" title="Tamamla" data-id="@item.Id"><i class="flaticon2-check-mark"></i></button>
                                        <button type="button" class="btn btn-icon btn-primary btn-sm btn-edit-phase" data-toggle="tooltip" title="Düzenle"><i class="flaticon2-pen"></i></button>
                                        <button type="button" class="btn btn-icon btn-danger btn-sm btn-delete-phase" data-toggle="tooltip" title="Sil" data-id="@item.Id"><i class="flaticon2-trash"></i></button>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="9" class="text-center">Kayıtlı faz bulunmamaktadır.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            @await Html.PartialAsync("_SupportListPartial", (Model.supports, Model.crmUsers, Model.userDepartments))
            @await Html.PartialAsync("_SupportModalsPartial")
        </div>

        <!-- Faz Ekle Modal -->
        <div class="modal fade" id="add-project-line-modal" tabindex="-1" role="dialog" aria-labelledby="createSupportModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createSupportModalLabel"><span class="text-danger">(@Model.project.ProjectCode) - @Model.project.ProjectName</span> isimli projeye faz ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">

                <form class="form" id="addProjectLineForm">
                    <input type="hidden" id="add_ProjectId" name="add_ProjectId" value="@Model.project.Id" />
                    <div class="form-group row">
                        <label class="col-form-label text-right col-lg-2 col-sm-12">Faz Adı</label>
                        <div class=" col-lg-4 col-sm-12">
                            <input type="text" id="add_LineTitle" name="add_LineTitle" class="form-control" />
                        </div>
                        <label class="col-form-label text-right col-lg-2 col-sm-12">Sıra Numarası</label>
                        <div class=" col-lg-4 col-sm-12">
                            <input type="text" class="form-control" id="add_LineRowNumber" name="add_LineRowNumber" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label text-right col-lg-2 col-sm-12">Faz Yöneticisi</label>
                        <div class=" col-lg-4 col-sm-12">
                            <user-select id="add_LineOfficialId" name="add_LineOfficialId"></user-select>
                           
                        </div>
                        <label class="col-form-label text-right col-lg-2 col-sm-12">Firma Yetkilisi</label>
                        <div class=" col-lg-4 col-sm-12">
                            <firm-contact-select  id="add_LineFirmOfficial" name="add_LineFirmOfficial" firm-id="@Model.firm.Id"></firm-contact-select>
                           
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label text-right col-lg-2 col-sm-12">Öncelik</label>
                        <div class=" col-lg-4 col-sm-12">
                            <priority-enum-select selected-value="@PriorityEnum.Normal" id="add_LinePriority" name="add_LinePriority"></priority-enum-select>
                        </div>
                        <label class="col-form-label text-right col-lg-2 col-sm-12">Teslim Tarihi</label>
                        <div class="col-lg-4 col-sm-12">
                            <div class="input-group date" id="add_DueDate" data-target-input="nearest">
                                <input class="form-control form-control-lg form-control-solid" id="add_DueDate_tb" data-target="#add_DueDate" placeholder="Teslim Tarihi Seçiniz" />
                                <div class="input-group-append" data-target="#add_DueDate" data-toggle="datetimepicker">
                                    <span class="input-group-text">
                                        <i class="ki ki-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-1">
                        <label for="add_LineDescription">
                            Faz Açıklaması
                            <span class="text-danger"></span>
                        </label>
                        <textarea class="form-control" id="add_LineDescription" rows="3"></textarea>
                    </div>

                </form>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">İptal</button>
                <button type="button" id="add_project_line_save_bt" class="btn btn-success font-weight-bold">Faz Ekle</button>
            </div>
        </div>
    </div>
</div>
    </div>

        <!-- Faz Düzenle Modal -->
        <div class="modal fade" id="edit-project-line-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Faz Düzenle</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i aria-hidden="true" class="ki ki-close"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form" id="editProjectLineForm">
                            <input type="hidden" id="edit_Id" name="edit_Id" />
                            <div class="form-group row">
                                <label class="col-form-label text-right col-lg-2 col-sm-12">Faz Adı</label>
                                <div class="col-lg-4 col-sm-12">
                                    <input type="text" id="edit_Title" name="edit_Title" class="form-control" />
                                </div>
                                <label class="col-form-label text-right col-lg-2 col-sm-12">Sıra Numarası</label>
                                <div class="col-lg-4 col-sm-12">
                                    <input type="number" class="form-control" id="edit_RowOrder" name="edit_RowOrder" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label text-right col-lg-2 col-sm-12">Faz Yöneticisi</label>
                                <div class="col-lg-4 col-sm-12">
                                    <user-select id="edit_LineOfficialId" name="edit_LineOfficialId"></user-select>
                                </div>
                                <label class="col-form-label text-right col-lg-2 col-sm-12">Firma Yetkilisi</label>
                                <div class="col-lg-4 col-sm-12">
                                    <firm-contact-select id="edit_LineFirmOfficialId" name="edit_LineFirmOfficialId" firm-id="@Model.firm.Id"></firm-contact-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label text-right col-lg-2 col-sm-12">Öncelik</label>
                                <div class="col-lg-4 col-sm-12">
                                    <priority-enum-select selected-value="@PriorityEnum.Normal" id="edit_Priority" name="edit_Priority"></priority-enum-select>
                                </div>
                                <label class="col-form-label text-right col-lg-2 col-sm-12">Teslim Tarihi</label>
                                <div class="col-lg-4 col-sm-12">
                                    <div class="input-group date" id="edit_DueDate" data-target-input="nearest">
                                        <input class="form-control form-control-lg form-control-solid" id="edit_DueDate_tb" data-target="#edit_DueDate" placeholder="Teslim Tarihi Seçiniz" />
                                        <div class="input-group-append" data-target="#edit_DueDate" data-toggle="datetimepicker">
                                            <span class="input-group-text">
                                                <i class="ki ki-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-1">
                                <label for="edit_Description">Faz Açıklaması</label>
                                <textarea class="form-control" id="edit_Description" rows="3"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">İptal</button>
                        <button type="button" id="edit_project_line_save_bt" class="btn btn-success font-weight-bold">Güncelle</button>
                    </div>
                </div>
            </div>
        </div>

    @* <div class="row">
    @await Html.PartialAsync("_SupportListPartial", (Model.supports, Model.crmUsers, Model.userDepartments))
    @await Html.PartialAsync("_SupportModalsPartial")
    </div> *@

</div>



@section Scripts
{
    <script src="~/js/custom/supportpartialpage.js"></script>
    <script src="~/js/Custom/SupportModalPartialPage.js"></script>
    <script src="~/js/Custom/ProjectDetailPage.js"></script>
}
